<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">
                           
    <bean id="book1" class="com.hexa.spring.com.hexa.spring1.Book">
		<constructor-arg index="0" value="101"/>
		<constructor-arg index="1" value="DSA"/>
		<constructor-arg index="2" value="800"/>

	</bean>
	


</beans>